<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Plan Tygodnia | {% block title %}{% endblock %}</title>
        {% stylesheets '@PlanBundle/Resources/public/css/main.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <main>
            {% block content %}{% endblock %}
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
